h1{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button{
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: darkcyan;
    color: black;
    cursor: pointer;
}